<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <filter>
        <filter-name>ProxyFilter</filter-name>
        <filter-class>net.anotheria.rproxy.ProxyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProxyFilter</filter-name>
        <url-pattern>/magazine/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProxyFilter</filter-name>
        <url-pattern>/faq/*</url-pattern>
    </filter-mapping>




    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>net.anotheria</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CacheStatsServlet</servlet-name>
        <servlet-class>net.anotheria.rproxy.cache.web.CacheStatsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CacheStatsServlet</servlet-name>
        <url-pattern>/app/cache/stats</url-pattern>
    </servlet-mapping>

</web-app>